
.container {
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: #F7F8F3;
}

.container__error {
  position: relative;
  left: 14.63vw;
  width: 85.3vw;
  height: 100vh;
  padding: 4.68vw 9.8vw 5.46vw 3.43vw;
  background: url(../img/404.svg) no-repeat center;
  background-size: 27.29vw 15.36vw;
}

.error__wrapper {
  position: absolute;
  top: 55%;
  left: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.error__image-wrapper {
  width: 9vw;
  height: 8.49vw;
  margin-right: 3.75vw;
}

.error__image {
  width: 100%;
  height: 100%;
}

.error__title {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 2.5vw;
  line-height: 3.23vw;
  color: #1C1D25;
}

.error__subtitle {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25vw;
  line-height: 1.61vw;
  color: #8E8E92;
}

.error__subtitle span {
  display: block;
}

.error__link {
  color: #B00D23;
  text-decoration: underline;
}

@media screen and (max-width: 1366px) {
  .container__error {
    left: 20vw;
    width: 79.43vw;
    padding: 5.86vw 2.78vw 5.86vw 6vw;
    background: url(../img/404.svg) no-repeat center;
    background-size: 38.36vw 21.6vw;
  }
  .error__wrapper {
    top: 55%;
    left: 32%;
  }
  .error__image-wrapper {
    width: 12.74vw;
    height: 11.93vw;
    margin-right: 5.27vw;
  }
  .error__title {
    font-size: 3.51vw;
    line-height: 4.54vw;
  }
  .error__subtitle {
    font-size: 1.757vw;
    line-height: 2.27vw;
  }
}

@media screen and (max-width: 768px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container__error {
    left: 0;
    width: 100vw;
    padding: 20vw 2.22vw 22.2vw 2.22vw;
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; */
    background-size: 72.5vw 41.1vw;
  }
  .error__wrapper {
    top: 20%;
    left: 0;
    /* position: static; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .error__image-wrapper {
    width: 35.3vw;
    height: 32.78vw;
    margin-right: 0;
    margin-bottom: 6.66vw;
  }
  .error__text-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 70%;
  }
  .error__title {
    font-size: 10vw;
    line-height: 13vw;
  }
  .error__subtitle {
    font-size: 4.44vw;
    line-height: 5.83vw;
    text-align: center;
  }
  .error__subtitle span {
    display: inline;
  }
}
