{% extends 'main.html' %}
{% load static %}

    {% block title %}
    <title>Упс ошибочка</title>
    {% endblock %}

    {% block css %}

    <link rel="stylesheet" href="{% static 'css/menu_for_error.css' %}">
    <link rel="stylesheet" href="{% static 'css/error.css' %}">

    {% endblock %}

    {% block content %}
    <div class="container__error" id="content">
        <div class="error__wrapper">
            <div class="error__image-wrapper">
                <img src="{% static 'img/error_bot.svg' %}" alt="" class="error__image">
            </div>
            <div class="error__text-wrapper">
                <div class="error__title">
                    Упс!
                </div>
                <div class="error__subtitle">
                    Ошибочка вышла. Вот ссылочка <span>на <a href="{% url 'app_roma:index' %}" class="error__link">главную</a>, чтобы не теряться :)</span>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
